colorama==0.4.6
colorlog==6.7.0
future==0.18.3
# git+https://github.com/jchanvfx/NodeGraphQt@0.6.18#egg=NodeGraphQt
# https://github.com/jchanvfx/NodeGraphQt.git==0.6.18
pip==23.2.1
PySide2==5.15.2
Qt.py==1.3.8
setuptools==68.0.0
shiboken2==5.15.2
QScintilla~=2.14
NodeGraphQt~=0.6